body {
    font-family: 'Courier New', Courier, monospace;
    margin : 0;
    background-color: black;
}
p{
    background-color: #fff;
    display: inline-flex;
    align-items: left;
    justify-content: centre;
    font-size: 50px;
    margin:0;
    height: 70px;
    width: 200px;
}